[safe]
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-core
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-cask
	directory = /opt/homebrew/Library/Taps/homebrew/homebrew-services
[init]
	defaultBranch = main
[user]
	email = SennKou528@gmail.com
	name = ofdove
[core]
	editor = nvim
